github "marketplacer/keychain-swift" ~> 7.0
github "Alamofire/Alamofire" ~> 4.0.1
github "typelift/Swiftz" ~> 0.6.0
github "mxcl/PromiseKit" ~> 4.0
github "Anviking/Decodable" "v0.5"
github "slackhq/SlackTextViewController" "v1.9.5"
github "sascha/DrawerController" ~> 3.0.0
github "ashleymills/Reachability.swift" "v3"
github "optonaut/ActiveLabel.swift" ~> 0.7.0
github "morizotter/SwiftyDrop" ~> 3.0.3
github "AlexLittlejohn/ALCameraViewController" ~> 1.2.7
github "onevcat/Kingfisher" ~> 3.1.4
github "pusher/pusher-websocket-swift" ~> 3.2.0
